
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.modal-background {
    z-index: 1000;

    position: fixed;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.75);
}

.modal-box {
    z-index: 1001;

    width: 75%;
    
    margin: auto;
    margin-top: 30px;
    padding: 15px;

    background-color: white;
}
.modal-close-button:hover {
    color: gray;
}
.modal-close-button {
    float: right;
    cursor: pointer;
    font-size: xx-large;
    color: lightgray;
}