h1, h2 {
    text-align: center;
    font-weight: bold;
}
h1 {
    font-size: xx-large;
}
h2 {
    font-size: x-large;
}

tbody tr:nth-child(even) {
    background-color: rgb(230, 230, 230);
}

tbody tr:hover {
    background-color: lightgray;
}