@import "tailwindcss";

:root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    overflow: hidden;
}
html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
}
#root {
    padding: 16px;
}
h1, h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
h1 {
    font-size: xx-large;
}
h2 {
    font-size: x-large;
}
th{
    border: 1px solid black;
}
td {
    padding: 5px;
}