@import "tailwindcss";

:root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
}
#root {
    padding: 16px;
}
